<a href="https://colab.research.google.com/github/XIOMARAMORE13/C8280/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas(XIOMARA MORE)


Pandas es un paquete Python de código abierto que proporciona estructuras de datos rápidas, flexibles y expresivas diseñadas para que trabajar con datos "relacionales" o "etiquetados" sea fácil e intuitivo.

### Estructuras de datos
Pandas presenta dos nuevas estructuras de datos en Python: Series y DataFrame, ambas construidas sobre NumPy (esto significa que es rápido).


#### Serie

Este es un objeto unidimensional similar a la columna en una hoja de cálculo o tabla SQL. De forma predeterminada, a cada elemento se le asignará una etiqueta de índice de `0` a `N`.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
s = pd.Series([1,3,4,np.nan, 5, 6], index = ['A', 'B', 'C', 'D', 'E', 'F'])
print(s)

A    1.0
B    3.0
C    4.0
D    NaN
E    5.0
F    6.0
dtype: float64

Si creas una serie utilizando el diccionario, la clave se convertirá en el índice de forma predeterminada.

In [ ]:
dict_ejemplo = {'A': 1, 'B':2, 'C':3, 'D':np.nan, 'E': 5, 'F': 6}
dict_ejemplo

{'A': 1, 'B': 2, 'C': 3, 'D': nan, 'E': 5, 'F': 6}

In [ ]:
s = pd.Series(dict_ejemplo)
print(s)

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64

La contraparte bidimensional de las series unidimensionales es el DataFrame.

### DataFrame

Es un objeto bidimensional similar a una hoja de cálculo o una tabla SQL. Este es el objeto Pandas más utilizado.

In [ ]:
data = {'Genero': ['F', 'M', 'M'],
        'Emp_ID': ['E01', 'E02', 'E03'],
        'Edad': [25, 27, 25]}
# Si queremos el orden de las columnas, especificamos en el parametro columns
df = pd.DataFrame(data, columns=['Emp_ID', 'Genero', 'Edad'])
df

  Emp_ID Genero  Edad
0    E01      F    25
1    E02      M    27
2    E03      M    25

#### Lectura y escritura de datos

Veremos tres formatos de archivo de uso común: csv, archivo de texto y Excel.

In [ ]:
# Leyendo desde un archivo csv

df=pd.read_csv('/content/mtcars.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
# Escribir un csv
# index = False - no escribe los valores de indice, el valor predeterminado es True
# completar
# Crear un DataFrame de ejemplo
data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35],
        'Ciudad': ['Madrid', 'Barcelona', 'Valencia']}

df = pd.DataFrame(data)

# Escribimos el DataFrame en un archivo CSV sin incluir los valores de índice
df.to_csv('datos.csv', index=False)

In [ ]:
# Leyendo desde un archivo .txt
# df=pd.read_csv('Data/mtcars.txt', sep='\t')
# completar
# Leer el archivo de texto
df = pd.read_csv('/content/mtcars.txt')

# Mostrar el DataFrame
print(df)

   model\tmpg\tcyl\tdisp\thp\tdrat\twt\tqsec\tvs\tam\tgear\tcarb
0   Mazda RX4\t21\t6\t160\t110\t3.9\t2.62\t16.46\t...
1   Mazda RX4 Wag\t21\t6\t160\t110\t3.9\t2.875\t17...
2   Datsun 710\t22.8\t4\t108\t93\t3.85\t2.32\t18.6...
3   Hornet 4 Drive\t21.4\t6\t258\t110\t3.08\t3.215...
4   Hornet Sportabout\t18.7\t8\t360\t175\t3.15\t3....
5   Valiant\t18.1\t6\t225\t105\t2.76\t3.46\t20.22\...
6   Duster 360\t14.3\t8\t360\t245\t3.21\t3.57\t15....
7   Merc 240D\t24.4\t4\t146.7\t62\t3.69\t3.19\t20\...
8   Merc 230\t22.8\t4\t140.8\t95\t3.92\t3.15\t22.9...
9   Merc 280\t19.2\t6\t167.6\t123\t3.92\t3.44\t18....
10  Merc 280C\t17.8\t6\t167.6\t123\t3.92\t3.44\t18...
11  Merc 450SE\t16.4\t8\t275.8\t180\t3.07\t4.07\t1...
12  Merc 450SL\t17.3\t8\t275.8\t180\t3.07\t3.73\t1...
13  Merc 450SLC\t15.2\t8\t275.8\t180\t3.07\t3.78\t...
14  Cadillac Fleetwood\t10.4\t8\t472\t205\t2.93\t5...
15  Lincoln Continental\t10.4\t8\t460\t215\t3\t5.4...
16  Chrysler Imperial\t14.7\t8\t440\t230\t3.23\t5....
17  Fiat 128\t32.4\t4\t78.7\t66\t4.08\t2.2\t19.47\...
18  Honda Civic\t30.4\t4\t75.7\t52\t4.93\t1.615\t1...
19  Toyota Corolla\t33.9\t4\t71.1\t65\t4.22\t1.835...
20  Toyota Corona\t21.5\t4\t120.1\t97\t3.7\t2.465\...
21  Dodge Challenger\t15.5\t8\t318\t150\t2.76\t3.5...
22  AMC Javelin\t15.2\t8\t304\t150\t3.15\t3.435\t1...
23  Camaro Z28\t13.3\t8\t350\t245\t3.73\t3.84\t15....
24  Pontiac Firebird\t19.2\t8\t400\t175\t3.08\t3.8...
25  Fiat X1-9\t27.3\t4\t79\t66\t4.08\t1.935\t18.9\...
26  Porsche 914-2\t26\t4\t120.3\t91\t4.43\t2.14\t1...
27  Lotus Europa\t30.4\t4\t95.1\t113\t3.77\t1.513\...
28  Ford Pantera L\t15.8\t8\t351\t264\t4.22\t3.17\...
29  Ferrari Dino\t19.7\t6\t145\t175\t3.62\t2.77\t1...
30  Maserati Bora\t15\t8\t301\t335\t3.54\t3.57\t14...
31  Volvo 142E\t21.4\t4\t121\t109\t4.11\t2.78\t18....

In [ ]:
# Leyendo un archivo Excel
#df=pd.read_excel('Data/mtcars.xlsx','Sheet2')
# Completar
#leemos el archivo en xlsx
df = pd.read_excel('/content/mtcars.xlsx')

# Mostrar el DataFrame
print(df)

                  model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2

`### Resumen de estadísticas básicas`

In [ ]:
#df = pd.read_csv('Data/iris.csv')
# completar
# Leer el archivo CSV
df = pd.read_csv('/content/iris.csv')

# Mostrar el DataFrame
print(df)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

#### Covarianza

In [ ]:
# covarianza: devuelve la covarianza entre columnas adecuadas
# completar

# Calcular la covarianza entre columnas
cov_matrix = df.cov()
print(cov_matrix)

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      0.685694    -0.042434      1.274315     0.516271
Sepal.Width      -0.042434     0.189979     -0.329656    -0.121639
Petal.Length      1.274315    -0.329656      3.116278     1.295609
Petal.Width       0.516271    -0.121639      1.295609     0.581006

<ipython-input-39-9b0b82941986>:5: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cov_matrix = df.cov()

#### Correlación

In [ ]:
# completar
# Calcular la correlación entre columnas
corr_matrix = df.corr()
print(corr_matrix)

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      1.000000    -0.117570      0.871754     0.817941
Sepal.Width      -0.117570     1.000000     -0.428440    -0.366126
Petal.Length      0.871754    -0.428440      1.000000     0.962865
Petal.Width       0.817941    -0.366126      0.962865     1.000000

<ipython-input-40-923b25e952d8>:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr()

[texto del vínculo](https://)### Visualización de datos
Pandas DataFrame viene con funciones integradas para ver los datos contenidos:

* Mirando los `n` primeros registros, el valor predeterminado de `n` es 5 si no se especifica:  `df.head(n=2)`.

* Mirando los `n` registros inferiores: `df.tail()`

* Obtener los nombres de las columnas: `df.columns`

* Obtener los tipos de datos de las columnas: `df.types`

* Obtener el índice del dataframe: `df.index`

* Obtener valores únicos: `df[column_name].unique()`

* Obtener valores: `df.values`

* Ordenar el dataframe: `df.sort_values(by =['Column1', 'Column2'], ascending=[True,True'])`

* Seleccionar/ver por el nombre de la columna: `df[column_name]`

* Seleccionar/ver por número de fila `df[0:3]`

* Selección por índice:

- `df.loc[0:3] # índice de 0 a 3`
- `df.loc[0:3,[‘column1’, ‘column2’]] # índice de 0 a 3 para las columnas específicas`

* Selección por posición

- `df.iloc[0:2] # usando el rango, primeras 2 filas`
- `df.iloc[2,3,6] # posición específica`
-  `df.iloc[0:2,0:2] # primeras 2 filas y primeras 2 columnas`

* Selección sin que esté en el índice

- `print(df.ix[1,1]) # valor de la primera fila y la primera columna`
- `print(df.ix[:,2]) # todas las filas de la columna en la segunda posición`

* Alternativa más rápida a `iloc` para obtener valores escalares: `print(df.iat[1,1])`

* Transponer el dataframe: `df.T`

* Filtrar DataFrame según la condición de valor para una columna: `df[df['column_name'] > 7.5]`

* Filtrar DataFrame basado en una condición de valor en una columna: `df[df['column_name'].isin(['condition_value1', 'condition_value2'])]`

* Filtro basado en múltiples condiciones en múltiples columnas usando el operador AND: `df[(df['column1']>7.5) & (df['column2']>3)]`

* Filtro basado en múltiples condiciones en múltiples columnas usando el operador OR: `df[(df[‘column1’]>7.5) | (df['column2']>3)]`.

In [ ]:
# print ("Nombres de las columnas:" , df.columns)
# Leer el archivo CSV
df = pd.read_csv('/content/iris.csv')
# Imprimir los nombres de las columnas
print("Nombres de las columnas:", df.columns)

Nombres de las columnas: Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [ ]:
# print ("Indice del DataFrame : ", df.index)
# Imprimir el índice del DataFrame
print("Indice del DataFrame:", df.index)

Indice del DataFrame: RangeIndex(start=0, stop=150, step=1)

In [ ]:
# print(df.values)
# Imprimir los valores del DataFrame
print(df.values)

[[5.1 3.5 1.4 0.2 'setosa']
 [4.9 3.0 1.4 0.2 'setosa']
 [4.7 3.2 1.3 0.2 'setosa']
 [4.6 3.1 1.5 0.2 'setosa']
 [5.0 3.6 1.4 0.2 'setosa']
 [5.4 3.9 1.7 0.4 'setosa']
 [4.6 3.4 1.4 0.3 'setosa']
 [5.0 3.4 1.5 0.2 'setosa']
 [4.4 2.9 1.4 0.2 'setosa']
 [4.9 3.1 1.5 0.1 'setosa']
 [5.4 3.7 1.5 0.2 'setosa']
 [4.8 3.4 1.6 0.2 'setosa']
 [4.8 3.0 1.4 0.1 'setosa']
 [4.3 3.0 1.1 0.1 'setosa']
 [5.8 4.0 1.2 0.2 'setosa']
 [5.7 4.4 1.5 0.4 'setosa']
 [5.4 3.9 1.3 0.4 'setosa']
 [5.1 3.5 1.4 0.3 'setosa']
 [5.7 3.8 1.7 0.3 'setosa']
 [5.1 3.8 1.5 0.3 'setosa']
 [5.4 3.4 1.7 0.2 'setosa']
 [5.1 3.7 1.5 0.4 'setosa']
 [4.6 3.6 1.0 0.2 'setosa']
 [5.1 3.3 1.7 0.5 'setosa']
 [4.8 3.4 1.9 0.2 'setosa']
 [5.0 3.0 1.6 0.2 'setosa']
 [5.0 3.4 1.6 0.4 'setosa']
 [5.2 3.5 1.5 0.2 'setosa']
 [5.2 3.4 1.4 0.2 'setosa']
 [4.7 3.2 1.6 0.2 'setosa']
 [4.8 3.1 1.6 0.2 'setosa']
 [5.4 3.4 1.5 0.4 'setosa']
 [5.2 4.1 1.5 0.1 'setosa']
 [5.5 4.2 1.4 0.2 'setosa']
 [4.9 3.1 1.5 0.2 'setosa']
 [5.0 3.2 1.2 0.2 'setosa']
 [5.5 3.5 1.3 0.2 'setosa']
 [4.9 3.6 1.4 0.1 'setosa']
 [4.4 3.0 1.3 0.2 'setosa']
 [5.1 3.4 1.5 0.2 'setosa']
 [5.0 3.5 1.3 0.3 'setosa']
 [4.5 2.3 1.3 0.3 'setosa']
 [4.4 3.2 1.3 0.2 'setosa']
 [5.0 3.5 1.6 0.6 'setosa']
 [5.1 3.8 1.9 0.4 'setosa']
 [4.8 3.0 1.4 0.3 'setosa']
 [5.1 3.8 1.6 0.2 'setosa']
 [4.6 3.2 1.4 0.2 'setosa']
 [5.3 3.7 1.5 0.2 'setosa']
 [5.0 3.3 1.4 0.2 'setosa']
 [7.0 3.2 4.7 1.4 'versicolor']
 [6.4 3.2 4.5 1.5 'versicolor']
 [6.9 3.1 4.9 1.5 'versicolor']
 [5.5 2.3 4.0 1.3 'versicolor']
 [6.5 2.8 4.6 1.5 'versicolor']
 [5.7 2.8 4.5 1.3 'versicolor']
 [6.3 3.3 4.7 1.6 'versicolor']
 [4.9 2.4 3.3 1.0 'versicolor']
 [6.6 2.9 4.6 1.3 'versicolor']
 [5.2 2.7 3.9 1.4 'versicolor']
 [5.0 2.0 3.5 1.0 'versicolor']
 [5.9 3.0 4.2 1.5 'versicolor']
 [6.0 2.2 4.0 1.0 'versicolor']
 [6.1 2.9 4.7 1.4 'versicolor']
 [5.6 2.9 3.6 1.3 'versicolor']
 [6.7 3.1 4.4 1.4 'versicolor']
 [5.6 3.0 4.5 1.5 'versicolor']
 [5.8 2.7 4.1 1.0 'versicolor']
 [6.2 2.2 4.5 1.5 'versicolor']
 [5.6 2.5 3.9 1.1 'versicolor']
 [5.9 3.2 4.8 1.8 'versicolor']
 [6.1 2.8 4.0 1.3 'versicolor']
 [6.3 2.5 4.9 1.5 'versicolor']
 [6.1 2.8 4.7 1.2 'versicolor']
 [6.4 2.9 4.3 1.3 'versicolor']
 [6.6 3.0 4.4 1.4 'versicolor']
 [6.8 2.8 4.8 1.4 'versicolor']
 [6.7 3.0 5.0 1.7 'versicolor']
 [6.0 2.9 4.5 1.5 'versicolor']
 [5.7 2.6 3.5 1.0 'versicolor']
 [5.5 2.4 3.8 1.1 'versicolor']
 [5.5 2.4 3.7 1.0 'versicolor']
 [5.8 2.7 3.9 1.2 'versicolor']
 [6.0 2.7 5.1 1.6 'versicolor']
 [5.4 3.0 4.5 1.5 'versicolor']
 [6.0 3.4 4.5 1.6 'versicolor']
 [6.7 3.1 4.7 1.5 'versicolor']
 [6.3 2.3 4.4 1.3 'versicolor']
 [5.6 3.0 4.1 1.3 'versicolor']
 [5.5 2.5 4.0 1.3 'versicolor']
 [5.5 2.6 4.4 1.2 'versicolor']
 [6.1 3.0 4.6 1.4 'versicolor']
 [5.8 2.6 4.0 1.2 'versicolor']
 [5.0 2.3 3.3 1.0 'versicolor']
 [5.6 2.7 4.2 1.3 'versicolor']
 [5.7 3.0 4.2 1.2 'versicolor']
 [5.7 2.9 4.2 1.3 'versicolor']
 [6.2 2.9 4.3 1.3 'versicolor']
 [5.1 2.5 3.0 1.1 'versicolor']
 [5.7 2.8 4.1 1.3 'versicolor']
 [6.3 3.3 6.0 2.5 'virginica']
 [5.8 2.7 5.1 1.9 'virginica']
 [7.1 3.0 5.9 2.1 'virginica']
 [6.3 2.9 5.6 1.8 'virginica']
 [6.5 3.0 5.8 2.2 'virginica']
 [7.6 3.0 6.6 2.1 'virginica']
 [4.9 2.5 4.5 1.7 'virginica']
 [7.3 2.9 6.3 1.8 'virginica']
 [6.7 2.5 5.8 1.8 'virginica']
 [7.2 3.6 6.1 2.5 'virginica']
 [6.5 3.2 5.1 2.0 'virginica']
 [6.4 2.7 5.3 1.9 'virginica']
 [6.8 3.0 5.5 2.1 'virginica']
 [5.7 2.5 5.0 2.0 'virginica']
 [5.8 2.8 5.1 2.4 'virginica']
 [6.4 3.2 5.3 2.3 'virginica']
 [6.5 3.0 5.5 1.8 'virginica']
 [7.7 3.8 6.7 2.2 'virginica']
 [7.7 2.6 6.9 2.3 'virginica']
 [6.0 2.2 5.0 1.5 'virginica']
 [6.9 3.2 5.7 2.3 'virginica']
 [5.6 2.8 4.9 2.0 'virginica']
 [7.7 2.8 6.7 2.0 'virginica']
 [6.3 2.7 4.9 1.8 'virginica']
 [6.7 3.3 5.7 2.1 'virginica']
 [7.2 3.2 6.0 1.8 'virginica']
 [6.2 2.8 4.8 1.8 'virginica']
 [6.1 3.0 4.9 1.8 'virginica']
 [6.4 2.8 5.6 2.1 'virginica']
 [7.2 3.0 5.8 1.6 'virginica']
 [7.4 2.8 6.1 1.9 'virginica']
 [7.9 3.8 6.4 2.0 'virginica']
 [6.4 2.8 5.6 2.2 'virginica']
 [6.3 2.8 5.1 1.5 'virginica']
 [6.1 2.6 5.6 1.4 'virginica']
 [7.7 3.0 6.1 2.3 'virginica']
 [6.3 3.4 5.6 2.4 'virginica']
 [6.4 3.1 5.5 1.8 'virginica']
 [6.0 3.0 4.8 1.8 'virginica']
 [6.9 3.1 5.4 2.1 'virginica']
 [6.7 3.1 5.6 2.4 'virginica']
 [6.9 3.1 5.1 2.3 'virginica']
 [5.8 2.7 5.1 1.9 'virginica']
 [6.8 3.2 5.9 2.3 'virginica']
 [6.7 3.3 5.7 2.5 'virginica']
 [6.7 3.0 5.2 2.3 'virginica']
 [6.3 2.5 5.0 1.9 'virginica']
 [6.5 3.0 5.2 2.0 'virginica']
 [6.2 3.4 5.4 2.3 'virginica']
 [5.9 3.0 5.1 1.8 'virginica']]

In [ ]:
# Valores para una especifica columna
# Completar
# Leer el archivo CSV
df = pd.read_csv('/content/iris.csv')
columna_especifica = 'Sepal.Length'
valores_columna = df[columna_especifica].values

# Imprimir los valores de la columna específica
print("Valores de la columna", columna_especifica, ":", valores_columna)

Valores de la columna Sepal.Length : [5.1 4.9 4.7 4.6 5.  5.4 4.6 5.  4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.  5.  5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.
 5.5 4.9 4.4 5.1 5.  4.5 4.4 5.  5.1 4.8 5.1 4.6 5.3 5.  7.  6.4 6.9 5.5
 6.5 5.7 6.3 4.9 6.6 5.2 5.  5.9 6.  6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 6.3 6.1 6.4 6.6 6.8 6.7 6.  5.7 5.5 5.5 5.8 6.  5.4 6.  6.7 6.3 5.6 5.5
 5.5 6.1 5.8 5.  5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.  6.9 5.6 7.7 6.3 6.7 7.2
 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.  6.9 6.7 6.9 5.8 6.8
 6.7 6.7 6.3 6.5 6.2 5.9]

In [ ]:
# df['Species'].unique()
# Obtener los valores únicos en la columna "Species"
valores_unicos = df['Species'].unique()

# Imprimir los valores únicos
print(valores_unicos)

['setosa' 'versicolor' 'virginica']

In [ ]:
# df.sort_values(by = ['Species', 'Sepal.Length'], ascending=[True, True])
# Ordenar el DataFrame por las columnas 'Species' y 'Sepal.Length'
df_ordenado = df.sort_values(by=['Species', 'Sepal.Length'], ascending=[True, True])

# Imprimir el DataFrame ordenado
print(df_ordenado)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
13            4.3          3.0           1.1          0.1     setosa
8             4.4          2.9           1.4          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
42            4.4          3.2           1.3          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]

In [ ]:
#df['Species']
# Obtener los valores de la columna "Species"
species_values = df['Species']

# Imprimir los valores de la columna "Species"
print(species_values)

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [ ]:
# completar
# Obtener los valores de la columna "Species"
species_values = df['Species'].values

# Imprimir los valores de la columna "Species"
print(species_values)

['setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
 'setosa' 'setosa' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
 'versicolor' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
 'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
 'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
 'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
 'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
 'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
 'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
 'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
 'virginica' 'virginica' 'virginica']

Selección diferente por opciones de etiqueta

- `loc:` solo funciona en el índice
- `iloc:` trabaja en posición
- `iat:` Obtener valores escalares. es un `iloc` muy rapido.

In [ ]:
# selección por indice
# completar
# Selección por índice utilizando iloc
subset = df.iloc[2:5, 0:3]

# Imprimir el subset resultante
print(subset)

   Sepal.Length  Sepal.Width  Petal.Length
2           4.7          3.2           1.3
3           4.6          3.1           1.5
4           5.0          3.6           1.4

In [ ]:
# selección por indice de nombres de etiquetas específicas
# completar
# Definir una lista de nombres de etiquetas para la selección
nombres_etiquetas_seleccion = ['Iris-setosa', 'Iris-versicolor']

# Realizar la selección basada en los nombres de etiquetas usando loc y isin
seleccion = df.loc[df['Species'].isin(nombres_etiquetas_seleccion)]

# Imprimir la selección
print(seleccion)

Empty DataFrame
Columns: [Sepal.Length, Sepal.Width, Petal.Length, Petal.Width, Species]
Index: []

In [ ]:
# Selección por posición
# completar
# Selección por posición utilizando iloc
subset = df.iloc[2:5, 1:4]

# Imprimir el subset resultante
print(subset)

   Sepal.Width  Petal.Length  Petal.Width
2          3.2           1.3          0.2
3          3.1           1.5          0.2
4          3.6           1.4          0.2

In [ ]:
# Seleccion por posicion entre filas dadas como rango
# completar
# Selección por posición entre filas dadas como rango utilizando iloc
subset = df.iloc[2:5, :]

# Imprimir el subset resultante
print(subset)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

**Ejercicio**

¿Qué produce `df.iloc[0:3, 0:3]` ?

In [ ]:
## Tu respuesta
# Crear un DataFrame de ejemplo
# Crear un DataFrame de ejemplo
data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35],
        'Ciudad': ['Madrid', 'Barcelona', 'Valencia']}

df = pd.DataFrame(data)

# Imprimir el DataFrame
print(df)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    30  Barcelona
2  Pedro    35   Valencia

In [ ]:
# seleccion por posicion entre numeros de fila especificos dados
# Completar
# Crear un DataFrame de ejemplo
data = {'Nombre': ['Juan', 'María', 'Pedro', 'Luis', 'Ana'],
        'Edad': [25, 30, 35, 28, 32],
        'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 'Bilbao']}

df = pd.DataFrame(data)

# Selección por posición entre números de fila específicos utilizando iloc
subset = df.iloc[1:4, :]

# Imprimir el subset resultante
print(subset)

  Nombre  Edad     Ciudad
1  María    30  Barcelona
2  Pedro    35   Valencia
3   Luis    28    Sevilla

Selección por índice de fila y columna (el índice comienza con 0).

El siguiente caso obtendrá el valor `[índice de la primera fila, índice de la primera columna]`.

In [ ]:
# obtener valores escalares. es un iloc muy rapido
# print(df.iat[1,1])
# Obtener el valor en el índice de la primera fila y primera columna utilizando iat
valor = df.iat[0, 0]

# Imprimir el valor obtenido
print(valor)

Juan

In [ ]:
# Obtencion de datos sin que este en el indice
#print(df.iloc[1,1])
# Obtener el valor en la posición de fila 1 y columna 1 utilizando iloc
valor = df.iloc[1, 1]

# Imprimir el valor obtenido
print(valor)

30

In [ ]:
# selecciona columnas por posicion
#print (df.iloc[:, 2])

# Seleccionar la tercera columna por posición utilizando iloc
columna = df.iloc[:, 2]

# Imprimir la columna seleccionada
print(columna)

0       Madrid
1    Barcelona
2     Valencia
3      Sevilla
4       Bilbao
Name: Ciudad, dtype: object

In [ ]:
# Transpuesta
# df.T
# Obtener la transpuesta del DataFrame utilizando .T
transpuesta = df.T

# Imprimir la transpuesta
print(transpuesta)

             0          1         2        3       4
Nombre    Juan      María     Pedro     Luis     Ana
Edad        25         30        35       28      32
Ciudad  Madrid  Barcelona  Valencia  Sevilla  Bilbao

#### Indexado Booleano

In [ ]:
# Completar
# Crear un DataFrame de ejemplo
data = {'A': [1, 2, 3, 4, 5],
        'B': [True, False, True, False, True],
        'C': ['foo', 'bar', 'baz', 'qux', 'quux']}

df = pd.DataFrame(data)

# Realizar el indexado booleano para seleccionar las filas donde la columna 'B' sea True
seleccion = df[df['B'] == True]

# Imprimir la selección
print(seleccion)

   A     B     C
0  1  True   foo
2  3  True   baz
4  5  True  quux

### Operaciones básicas con Pandas

* Convertir cadenas a series de fechas: `pd.to_datetime(pd.Series(['2017-04-01','2017-04-02','2017-04-03']))`.

* Cambiar el nombre de una columna específica: `df.rename(columns={‘old_columnname’:‘new_columnname'}, inplace=True)`

* Cambiar el nombre de todas las columnas del DataFrame: `df.columns = ['col1_new_name','col2_new_name'...]`

* Marcar duplicados: `df.duplicated()`

* Quitar duplicados:`df = df.drop_duplicates()`

* Quitar duplicados en una columna específica: `df.drop_duplicates(['column_name'])`

* Quitar los duplicados en una columna específica, pero se conserva la primera o la última observación en el conjunto de duplicados: `df.drop_duplicates(['column_name'], keep = 'first') # cambiar al ultimo para conservar la ultima observación del duplicado`.

* Crear una nueva columna a partir de una columna existente: `df['new_column_name'] = df['new_column_name'] + 5`

* Crear una nueva columna a partir de los elementos de dos columnas: `df['new_column_name'] = df['existing_column1'] + '_' + df['existing_column2']`

* Agregar una lista o una nueva columna a DataFrame: `df['new_column_name'] = pd.Series(mylist)`

* Descartar las filas y columnas faltantes que tienen valores faltantes: `df.dropna()`

* Reemplaza todos los valores faltantes con 0 (o puede usar cualquier int o str): `df.fillna(value=0)`

* Reemplaza los valores faltantes con la última observación válida (útil en datos de series de tiempo). Por ejemplo, la temperatura no cambia drásticamente en comparación con una observación anterior. Una forma es llenar de NA forward-backward más alla de la media.

    1) 'pad' / 'ffill' - forward fill

    2) 'bfill'/'backfill' - backward fill

    Límite: si se especifica el método, este es el número máximo de valores de NaN consecutivos para completar forward/backward fill: `df.fillna (method = 'ffill', inplace= True, limit = 1)`

* Verifica la condición del valor faltante y devuelva el valor Booleano de `True` o `False` para cada celda: `pd.isnull(df)`

* Reemplaza todos los valores faltantes para una columna dada con la media: `mean=df['column_name].mean(); df['column_name'].fillna(mean)`

* Devuelve la media para cada columna: `df.mean()`

* Retorna el máximo para cada columna: `df.max()`

* Retorno el mínimo para cada columna: `df.min()`

* Devuelve la suma para cada columna: `df.sum()`

* Conteo para cada columna: `df.count()`

* Devuelve la suma acumulada para cada columna: `df.cumsum()`

* Aplica una función a lo largo de cualquier eje del DataFrame: `df.apply(np.cumsum)`

* Itera sobre cada elemento de una serie y realizar la acción deseada: `df['column_name'].map(lambda x: 1+x) # esto itera sobre la columna y agrega el valor 1 a cada elemento`

* Aplica una función a cada elemento del dataframe:`func = lambda x: x + 1 # función para agregar una constante 1 a cada elemento del dataframe df.applymap(func)`.

In [ ]:
cadena_fechas = ('2017-04-01','2017-04-02','2017-04-03','2017-04-04')
pd.to_datetime(pd.Series(cadena_fechas))

0   2017-04-01
1   2017-04-02
2   2017-04-03
3   2017-04-04
dtype: datetime64[ns]

In [ ]:
df.rename(columns = {'Sepal.Length': 'Sepal_Length'}, inplace=True)

In [ ]:
df.columns = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species']

In [ ]:
# Removemos los duplicados

data_1 = {'primer_nombre': ['Amy', 'Amy', 'Jason', 'Nick', 'Stephen','Amy'],
        'ultimo_nombre': ['Jackson', 'J', 'Miller', 'Milner', 'L','J'],
        'edad': [42, 42, 36, 24, 24, 42]}
df = pd.DataFrame(data_1, columns = ['primer_nombre', 'ultimo_nombre', 'edad'])
print(df)

  primer_nombre ultimo_nombre  edad
0           Amy       Jackson    42
1           Amy             J    42
2         Jason        Miller    36
3          Nick        Milner    24
4       Stephen             L    24
5           Amy             J    42

In [ ]:
print(df.duplicated())

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [ ]:
print(df.drop_duplicates())

  primer_nombre ultimo_nombre  edad
0           Amy       Jackson    42
1           Amy             J    42
2         Jason        Miller    36
3          Nick        Milner    24
4       Stephen             L    24

In [ ]:
df.drop_duplicates(['primer_nombre'], keep ='first')

  primer_nombre ultimo_nombre  edad
0           Amy       Jackson    42
2         Jason        Miller    36
3          Nick        Milner    24
4       Stephen             L    24

**Ejercicio**

* Agrega las columnas siguientes: `edad_mas_5`, `nombre_completo` y `genero`
 - `edad_mas_5`viene de sumar 5 a la etiqueta `edad`
 - `nombre_completo` viene de sumar las etiquetas `primer_nombre`, `_` y `ultimo_nombre`
 - `genero` es una serie de elementos `'F','F','M','M','M','F'.`

In [ ]:
# Tu respuesta
data = {
    'primer_nombre': ['John', 'Jane', 'Michael', 'Emily', 'David', 'Sarah'],
    'ultimo_nombre': ['Doe', 'Smith', 'Johnson', 'Brown', 'Jones', 'Wilson'],
    'edad': [25, 30, 35, 40, 45, 50]
}
df = pd.DataFrame(data)

df['edad_mas_5'] = df['edad'] + 5

df['nombre_completo'] = df['primer_nombre'] + ' ' + df['ultimo_nombre']

df['genero'] = pd.Series(['F', 'F', 'M', 'M', 'M', 'F'])
print(df)

  primer_nombre ultimo_nombre  edad  edad_mas_5  nombre_completo genero
0          John           Doe    25          30         John Doe      F
1          Jane         Smith    30          35       Jane Smith      F
2       Michael       Johnson    35          40  Michael Johnson      M
3         Emily         Brown    40          45      Emily Brown      M
4         David         Jones    45          50      David Jones      M
5         Sarah        Wilson    50          55     Sarah Wilson      F

#### Datos perdidos

pandas usa principalmente el valor `np.nan` para representar los datos que faltan. Por defecto no se incluye en los cálculos.

In [ ]:
df.iloc[4,2] = np.nan
print(df)

  primer_nombre ultimo_nombre  edad  edad_mas_5  nombre_completo genero
0          John           Doe  25.0          30         John Doe      F
1          Jane         Smith  30.0          35       Jane Smith      F
2       Michael       Johnson  35.0          40  Michael Johnson      M
3         Emily         Brown  40.0          45      Emily Brown      M
4         David         Jones   NaN          50      David Jones      M
5         Sarah        Wilson  50.0          55     Sarah Wilson      F

In [ ]:
print(df.dropna())

  primer_nombre ultimo_nombre  edad  edad_mas_5  nombre_completo genero
0          John           Doe  25.0          30         John Doe      F
1          Jane         Smith  30.0          35       Jane Smith      F
2       Michael       Johnson  35.0          40  Michael Johnson      M
3         Emily         Brown  40.0          45      Emily Brown      M
5         Sarah        Wilson  50.0          55     Sarah Wilson      F

In [ ]:
df.iloc[4,2] = np.nan
print(df)

  primer_nombre ultimo_nombre  edad  edad_mas_5  nombre_completo genero
0          John           Doe  25.0          30         John Doe      F
1          Jane         Smith  30.0          35       Jane Smith      F
2       Michael       Johnson  35.0          40  Michael Johnson      M
3         Emily         Brown  40.0          45      Emily Brown      M
4         David         Jones   NaN          50      David Jones      M
5         Sarah        Wilson  50.0          55     Sarah Wilson      F

In [ ]:
df.fillna(value =0)

  primer_nombre ultimo_nombre  edad  edad_mas_5  nombre_completo genero
0          John           Doe  25.0          30         John Doe      F
1          Jane         Smith  30.0          35       Jane Smith      F
2       Michael       Johnson  35.0          40  Michael Johnson      M
3         Emily         Brown  40.0          45      Emily Brown      M
4         David         Jones   0.0          50      David Jones      M
5         Sarah        Wilson  50.0          55     Sarah Wilson      F

In [ ]:
df.iloc[4,2] = np.nan
print(df)

  primer_nombre ultimo_nombre  edad  edad_mas_5  nombre_completo genero
0          John           Doe  25.0          30         John Doe      F
1          Jane         Smith  30.0          35       Jane Smith      F
2       Michael       Johnson  35.0          40  Michael Johnson      M
3         Emily         Brown  40.0          45      Emily Brown      M
4         David         Jones   NaN          50      David Jones      M
5         Sarah        Wilson  50.0          55     Sarah Wilson      F

In [ ]:
pd.isnull(df)

   primer_nombre  ultimo_nombre   edad  edad_mas_5  nombre_completo  genero
0          False          False  False       False            False   False
1          False          False  False       False            False   False
2          False          False  False       False            False   False
3          False          False  False       False            False   False
4          False          False   True       False            False   False
5          False          False  False       False            False   False

#### Operaciones

In [ ]:
media = df['edad'].mean()
media
# usamos la media para reeemplazar el NaN
# completar

36.0

In [ ]:
 df.fillna(method='ffill', inplace=True, limit=1)

In [ ]:
import warnings
warnings.filterwarnings('ignore')
df.mean()

edad          36.666667
edad_mas_5    42.500000
dtype: float64

In [ ]:
df.min()

primer_nombre            David
ultimo_nombre            Brown
edad                      25.0
edad_mas_5                  30
nombre_completo    David Jones
genero                       F
dtype: object

In [ ]:
df.max()

primer_nombre             Sarah
ultimo_nombre            Wilson
edad                       50.0
edad_mas_5                   55
nombre_completo    Sarah Wilson
genero                        M
dtype: object

In [ ]:
df.sum()

primer_nombre                         JohnJaneMichaelEmilyDavidSarah
ultimo_nombre                        DoeSmithJohnsonBrownJonesWilson
edad                                                           220.0
edad_mas_5                                                       255
nombre_completo    John DoeJane SmithMichael JohnsonEmily BrownDa...
genero                                                        FFMMMF
dtype: object

In [ ]:
df.count()

primer_nombre      6
ultimo_nombre      6
edad               6
edad_mas_5         6
nombre_completo    6
genero             6
dtype: int64

In [ ]:
df.cumsum()

,primer_nombre,ultimo_nombre,edad,edad_mas_5,nombre_completo,genero
0,John,Doe,25.0,30,John Doe,F
1,JohnJane,DoeSmith,55.0,65,John DoeJane Smith,FF
2,JohnJaneMichael,DoeSmithJohnson,90.0,105,John DoeJane SmithMichael Johnson,FFM
3,JohnJaneMichaelEmily,DoeSmithJohnsonBrown,130.0,150,John DoeJane SmithMichael JohnsonEmily Brown,FFMM
4,JohnJaneMichaelEmilyDavid,DoeSmithJohnsonBrownJones,170.0,200,John DoeJane SmithMichael JohnsonEmily BrownDa...,FFMMM
5,JohnJaneMichaelEmilyDavidSarah,DoeSmithJohnsonBrownJonesWilson,220.0,255,John DoeJane SmithMichael JohnsonEmily BrownDa...,FFMMMF

Aplicación de función a elemento, columna o dataframe

In [ ]:
# completar

def sumar_5(valor):
    return valor + 5

data = {
    'primer_nombre': ['John', 'Jane', 'Michael', 'Emily', 'David', 'Sarah'],
    'ultimo_nombre': ['Doe', 'Smith', 'Johnson', 'Brown', 'Jones', 'Wilson'],
    'edad': [25, 30, 35, 40, 45, 50]
}

df = pd.DataFrame(data)

# Aplicar la función sumar_5 a la columna 'edad' para crear 'edad_mas_5'
df['edad_mas_5'] = df['edad'].apply(sumar_5)

# Crear la columna 'nombre_completo' combinando 'primer_nombre' y 'ultimo_nombre'
df['nombre_completo'] = df['primer_nombre'] + ' ' + df['ultimo_nombre']

# Crear la columna 'genero' utilizando una Serie
df['genero'] = pd.Series(['F', 'F', 'M', 'M', 'M', 'F'])

print(df)

  primer_nombre ultimo_nombre  edad  edad_mas_5  nombre_completo genero
0          John           Doe    25          30         John Doe      F
1          Jane         Smith    30          35       Jane Smith      F
2       Michael       Johnson    35          40  Michael Johnson      M
3         Emily         Brown    40          45      Emily Brown      M
4         David         Jones    45          50      David Jones      M
5         Sarah        Wilson    50          55     Sarah Wilson      F

In [ ]:
# Map: itera sobre cada elemento de una serie
# Completar agrega una constante 1 a cada elemento de la column1
data = {
    'column1': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)

# Agregar una constante 1 a cada elemento de la columna 'column1' utilizando map()
df['column1'] = df['column1'].map(lambda x: x + 1)

print(df)

   column1
0       11
1       21
2       31
3       41
4       51

In [ ]:
func=lambda x: x+1
df_filtrado = df.iloc[:, 2:4]
print(df_filtrado)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [ ]:
print(df_filtrado.applymap(func))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

**Ejemplo**

La parte del poder de pandas se da por los métodos integrados en los objetos Series y DataFrame.

In [ ]:
from io import StringIO
data = StringIO('''UPC,Units,Sales,Date
1234,5,20.2,1-1-2014
1234,2,8.,1-2-2014
1234,3,13.,1-3-2014
789,1,2.,1-1-2014
789,2,3.8,1-2-2014
789,,,1-3-2014
789,1,1.8,1-5-2014''')

In [ ]:
sales = pd.read_csv(data)
sales

    UPC  Units  Sales      Date
0  1234    5.0   20.2  1-1-2014
1  1234    2.0    8.0  1-2-2014
2  1234    3.0   13.0  1-3-2014
3   789    1.0    2.0  1-1-2014
4   789    2.0    3.8  1-2-2014
5   789    NaN    NaN  1-3-2014
6   789    1.0    1.8  1-5-2014

In [ ]:
sales.shape

(7, 4)

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UPC     7 non-null      int64
 1   Units   6 non-null      float64
 2   Sales   6 non-null      float64
 3   Date    7 non-null      object
dtypes: float64(2), int64(1), object(1)
memory usage: 352.0+ bytes

A diferencia del objeto `Series` que prueba la pertenencia con el índice, el `DataFrame` prueba la pertenencia con las columnas. El comportamiento de iteración `(__iter__)` y el comportamiento de pertenencia `(__contains__)` es el mismo para el `DataFrame`.

#### Operaciones de índice

In [ ]:
sales.reindex([0, 4])

    UPC  Units  Sales      Date
0  1234    5.0   20.2  1-1-2014
4   789    2.0    3.8  1-2-2014

In [ ]:
sales.reindex(columns=['Date', 'Sales'])

       Date  Sales
0  1-1-2014   20.2
1  1-2-2014    8.0
2  1-3-2014   13.0
3  1-1-2014    2.0
4  1-2-2014    3.8
5  1-3-2014    NaN
6  1-5-2014    1.8

La selección de columnas e índices se puede combinar para refinar aún más la selección. Además, se pueden incluir nuevas entradas para valores de índices y nombres de columna. Por defecto, usarán el parámetro opcional `fill_value` (que es NaN a menos que se especifique):

In [ ]:
sales.reindex(index=[2, 6, 8], columns=['Sales', 'MIT', 'missing'])

   Sales  MIT  missing
2   13.0  NaN      NaN
6    1.8  NaN      NaN
8    NaN  NaN      NaN

In [ ]:
by_date = sales.set_index('Date')
by_date

           UPC  Units  Sales
Date
1-1-2014  1234    5.0   20.2
1-2-2014  1234    2.0    8.0
1-3-2014  1234    3.0   13.0
1-1-2014   789    1.0    2.0
1-2-2014   789    2.0    3.8
1-3-2014   789    NaN    NaN
1-5-2014   789    1.0    1.8

Para agregar un índice entero creciente a un data frame, usa `.reset_index`:

In [ ]:
by_date.reset_index()

       Date   UPC  Units  Sales
0  1-1-2014  1234    5.0   20.2
1  1-2-2014  1234    2.0    8.0
2  1-3-2014  1234    3.0   13.0
3  1-1-2014   789    1.0    2.0
4  1-2-2014   789    2.0    3.8
5  1-3-2014   789    NaN    NaN
6  1-5-2014   789    1.0    1.8

#### Obtener y establecer valores

In [ ]:
sales.iat[4, 2]

3.8


A continuación, insertamos una columna `Category` después de ` UPC`  (en la posición 1):

In [ ]:
sales.insert(1, 'Category', 'Food')
sales

    UPC Category  Units  Sales      Date
0  1234     Food    5.0   20.2  1-1-2014
1  1234     Food    2.0    8.0  1-2-2014
2  1234     Food    3.0   13.0  1-3-2014
3   789     Food    1.0    2.0  1-1-2014
4   789     Food    2.0    3.8  1-2-2014
5   789     Food    NaN    NaN  1-3-2014
6   789     Food    1.0    1.8  1-5-2014

El método `.replace` es una forma poderosa de actualizar muchos valores de un data frame en las columnas. Para reemplazar todos los 789 con 790, realiza lo siguiente:

In [ ]:
sales.replace(789, 790)

    UPC Category  Units  Sales      Date
0  1234     Food    5.0   20.2  1-1-2014
1  1234     Food    2.0    8.0  1-2-2014
2  1234     Food    3.0   13.0  1-3-2014
3   790     Food    1.0    2.0  1-1-2014
4   790     Food    2.0    3.8  1-2-2014
5   790     Food    NaN    NaN  1-3-2014
6   790     Food    1.0    1.8  1-5-2014

In [ ]:
sales.replace({'UPC': {789:790},
                'Sales': {789: 1.4}})

    UPC Category  Units  Sales      Date
0  1234     Food    5.0   20.2  1-1-2014
1  1234     Food    2.0    8.0  1-2-2014
2  1234     Food    3.0   13.0  1-3-2014
3   790     Food    1.0    2.0  1-1-2014
4   790     Food    2.0    3.8  1-2-2014
5   790     Food    NaN    NaN  1-3-2014
6   790     Food    1.0    1.8  1-5-2014

El método `replace` también acepta expresiones regulares (pueden ser incluidas en diccionarios anidados) si  el paramétro`regex` se coloca en `True`.

In [ ]:
sales.replace('(F.*d)', r'\1_stuff', regex=True)

    UPC    Category  Units  Sales      Date
0  1234  Food_stuff    5.0   20.2  1-1-2014
1  1234  Food_stuff    2.0    8.0  1-2-2014
2  1234  Food_stuff    3.0   13.0  1-3-2014
3   789  Food_stuff    1.0    2.0  1-1-2014
4   789  Food_stuff    2.0    3.8  1-2-2014
5   789  Food_stuff    NaN    NaN  1-3-2014
6   789  Food_stuff    1.0    1.8  1-5-2014

#### Eliminación de  columnas

Hay al menos cuatro formas de eliminar una columna:

* El método `.pop`

* El método `.drop` con `axis = 1`

* El método `.reindex`

* Indexación con una lista de nuevas columnas

El método `.pop` toma el nombre de una columna y lo elimina del data frame. Opera in-place. En lugar de devolver un data frame, devuelve la columna eliminada.

In [ ]:
sales['subcat'] = 'Dairy'
sales

    UPC Category  Units  Sales      Date subcat
0  1234     Food    5.0   20.2  1-1-2014  Dairy
1  1234     Food    2.0    8.0  1-2-2014  Dairy
2  1234     Food    3.0   13.0  1-3-2014  Dairy
3   789     Food    1.0    2.0  1-1-2014  Dairy
4   789     Food    2.0    3.8  1-2-2014  Dairy
5   789     Food    NaN    NaN  1-3-2014  Dairy
6   789     Food    1.0    1.8  1-5-2014  Dairy

In [ ]:
sales.pop('subcat')

0    Dairy
1    Dairy
2    Dairy
3    Dairy
4    Dairy
5    Dairy
6    Dairy
Name: subcat, dtype: object

In [ ]:
sales

    UPC Category  Units  Sales      Date
0  1234     Food    5.0   20.2  1-1-2014
1  1234     Food    2.0    8.0  1-2-2014
2  1234     Food    3.0   13.0  1-3-2014
3   789     Food    1.0    2.0  1-1-2014
4   789     Food    2.0    3.8  1-2-2014
5   789     Food    NaN    NaN  1-3-2014
6   789     Food    1.0    1.8  1-5-2014

Para quitar una columna con el método `.drop`, simplemente páselo (o una lista de nombres de columna) junto con la configuración del parámetro `axis` en 1:

In [ ]:
# completar
data = {
    'column1': [1, 2, 3],
    'column2': [4, 5, 6],
    'column3': [7, 8, 9]
}

df = pd.DataFrame(data)

# Quitar la columna 'column2' utilizando drop()
df = df.drop('column2', axis=1)

print(df)

   column1  column3
0        1        7
1        2        8
2        3        9

#### Los dos métodos finales para eliminar columnas

In [ ]:
cols = ['Sales', 'Date']

In [ ]:
sales.reindex(columns=cols)

   Sales      Date
0   20.2  1-1-2014
1    8.0  1-2-2014
2   13.0  1-3-2014
3    2.0  1-1-2014
4    3.8  1-2-2014
5    NaN  1-3-2014
6    1.8  1-5-2014

In [ ]:
sales[cols]

   Sales      Date
0   20.2  1-1-2014
1    8.0  1-2-2014
2   13.0  1-3-2014
3    2.0  1-1-2014
4    3.8  1-2-2014
5    NaN  1-3-2014
6    1.8  1-5-2014

#### Recortes

In [ ]:
sales.head()

    UPC Category  Units  Sales      Date
0  1234     Food    5.0   20.2  1-1-2014
1  1234     Food    2.0    8.0  1-2-2014
2  1234     Food    3.0   13.0  1-3-2014
3   789     Food    1.0    2.0  1-1-2014
4   789     Food    2.0    3.8  1-2-2014

In [ ]:
sales.tail(2)

   UPC Category  Units  Sales      Date
5  789     Food    NaN    NaN  1-3-2014
6  789     Food    1.0    1.8  1-5-2014

Usemos un índice basado en cadenas para que quede más claro qué hacen las opciones de recorte:

In [ ]:
# completar
import pandas as pd

# Crear el DataFrame con un índice basado en cadenas
data = {
    'column1': [1, 2, 3, 4, 5],
    'column2': [6, 7, 8, 9, 10],
    'column3': [11, 12, 13, 14, 15]
}
df = pd.DataFrame(data, index=['A', 'B', 'C', 'D', 'E'])

# Realizar recorte utilizando el índice basado en cadenas
subset = df.loc['B':'D', 'column1':'column2']

print(subset)

   column1  column2
B        2        7
C        3        8
D        4        9

In [ ]:

# Crear el DataFrame
data = {
    'column1': [1, 2, 3, 4, 5],
    'column2': [6, 7, 8, 9, 10],
    'column3': [11, 12, 13, 14, 15]
}
df = pd.DataFrame(data)

# Asignar un índice basado en cadenas
df.index = ['A', 'B', 'C', 'D', 'E']

# Acceder a la columna utilizando un índice basado en cadenas
column_subset = df['column2']

print(column_subset)

A     6
B     7
C     8
D     9
E    10
Name: column2, dtype: int64

In [ ]:
df

   column1  column2  column3
A        1        6       11
B        2        7       12
C        3        8       13
D        4        9       14
E        5       10       15

Para dividir por posición, usa el atributo `.iloc`. Aquí tomamos filas en las posiciones dos hasta cuatro, pero sin incluirlas:

In [ ]:
df.iloc[2:4]

   column1  column2  column3
C        3        8       13
D        4        9       14

También podemos proporcionar posiciones de columna que también queremos mantener. Las posiciones de las columnas deben seguir una coma en la operación de índice. Aquí mantenemos las filas desde dos hasta pero sin incluir la fila cuatro. También tomamos columnas desde cero hasta pero sin incluir uno (solo la columna en la posición de índice cero).

Esto se expresa en la siguiente figura:


<img src="recorte-pandas.png" alt="Drawing" style="width: 500px;"/>

A continuación se muestra un resumen de las construcciones de  de data frame por posición y etiqueta.


```
.iloc [i: j]            Posición de filas i hasta pero sin incluir j (semiabierto)
.iloc [:, i: j]         Posición de las columnas i hasta pero sin incluir j (semiabierto)
.iloc [[i, k, m]]       Filas en i, k y m (no es un intervalo)
.loc [a: b]             Filas desde la etiqueta de índice a hasta b (cerrado)
.loc [:, c: d]          Columnas de la etiqueta de columna c a d (cerrado)
.loc [: [b, d, f]]      Columnas en las etiquetas b, d y f (no es un intervalo)

```

<img src="recorte-ejemplo.png" alt="Drawing" style="width: 600px;"/>

In [194]:
#df = df.drop(['Category'], axis=1)
#df
import pandas as pd
df = pd.DataFrame({'Category': ['A', 'B', 'C', 'D'],
                   'Value': [1, 2, 3, 4]})
df = df.drop(df.columns[[0]], axis=1)

print(df)

   Value
0      1
1      2
2      3
3      4

In [195]:
df.iloc[2:4, 0:1]

   Value
2      3
3      4

También hay soporte para dividir datos por etiquetas. Usando el atributo `.loc`, podemos tomar valores de índice desde la `a` a la `d`:

In [197]:
# completar
# Selección de valores de índice desde 'a' hasta 'd'
selected_data = df.loc['a':'d']

print(selected_data)

Empty DataFrame
Columns: [Value]
Index: []

Y al igual que `.iloc`, `.loc` tiene la capacidad de especificar columnas por etiqueta. En este ejemplo, solo tomamos la columna `Units` y, por lo tanto, devuelve una serie:

In [199]:
# completar
# Selección de la columna 'Units' usando .loc
data = {
    'Units': [10, 15, 20, 25, 30],
    'Revenue': [100, 150, 200, 250, 300],
    'Cost': [50, 75, 100, 125, 150]
}

df = pd.DataFrame(data)

# Selección de la columna 'Units' utilizando .loc
selected_column = df.loc[:, 'Units']

print(selected_column)

0    10
1    15
2    20
3    25
4    30
Name: Units, dtype: int64

Sacamos las columnas `UPC` y `Sales`, pero con solo los últimos 4 valores:

In [200]:
# Completar
data = {
    'UPC': ['A', 'B', 'C', 'D', 'E'],
    'Sales': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)

# Selección de las columnas 'UPC' y 'Sales' con los últimos 4 valores
selected_columns = df.loc[-4:, ['UPC', 'Sales']]

print(selected_columns)

  UPC  Sales
0   A     10
1   B     20
2   C     30
3   D     40
4   E     50

### Merge/Join

In [196]:
data = {
        'emp_id': ['1', '2', '3', '4', '5'],
        'primer_nombre': ['Jason', 'Andy', 'Allen', 'John', 'Amy'],
        'ultimo_nombre': ['Larkin', 'Jacob', 'A', 'AA', 'Jackson']}
df_1 = pd.DataFrame(data, columns = ['emp_id', 'primer_nombre', 'ultimo_nombre'])
print (df_1)

  emp_id primer_nombre ultimo_nombre
0      1         Jason        Larkin
1      2          Andy         Jacob
2      3         Allen             A
3      4          John            AA
4      5           Amy       Jackson

In [201]:
data = {
        'emp_id': ['4', '5', '6', '7'],
        'primer_nombre': ['James', 'Shize', 'Kim', 'Jose'],
        'ultimo_nombre': ['Alexander', 'Suma', 'Mike', 'G']}
df_2 = pd.DataFrame(data, columns = ['emp_id', 'primer_nombre', 'ultimo_nombre'])
print (df_2)

  emp_id primer_nombre ultimo_nombre
0      4         James     Alexander
1      5         Shize          Suma
2      6           Kim          Mike
3      7          Jose             G

In [202]:
# usando concat
df = pd.concat([df_1, df_2])
print(df)

  emp_id primer_nombre ultimo_nombre
0      1         Jason        Larkin
1      2          Andy         Jacob
2      3         Allen             A
3      4          John            AA
4      5           Amy       Jackson
0      4         James     Alexander
1      5         Shize          Suma
2      6           Kim          Mike
3      7          Jose             G

In [203]:
# Juntando dos dataframes a lo largo de las columnas
pd.concat([df_1,df_2], axis=1)

  emp_id primer_nombre ultimo_nombre emp_id primer_nombre ultimo_nombre
0      1         Jason        Larkin      4         James     Alexander
1      2          Andy         Jacob      5         Shize          Suma
2      3         Allen             A      6           Kim          Mike
3      4          John            AA      7          Jose             G
4      5           Amy       Jackson    NaN           NaN           NaN

Combinamos dos dataframes basados en el valor `emp_id` en este caso, solo se unirán los `emp_id` presentes en ambas tablas.

In [204]:
print(pd.merge(df_1,df_2, on='emp_id'))

  emp_id primer_nombre_x ultimo_nombre_x primer_nombre_y ultimo_nombre_y
0      4            John              AA           James       Alexander
1      5             Amy         Jackson           Shize            Suma

### Grouping


Pandas nos brinda la capacidad de agrupar data frames por valores de columna y luego fusionarlos nuevamente en un resultado con el método `.groupby`.
Pandas `group by` nos permitirá lograr lo siguiente:

- Aplicar una función de agregación a cada grupo de forma independiente
- Según algunos criterios, divide los datos en grupos.
- Combinar los resultados del `group by` en una estructura de datos.


<img src="Groupby.png" alt="Drawing" style="width: 700px;"/>

Como ejemplo, en el data frame `scores`, calcularemos las puntuaciones medias de cada maestro. Primero llamamos a `.groupby` y entonces invocamos a `.median` en el resultado:

In [205]:
scores = pd.DataFrame({
    'name':['Adam', 'Bob', 'Dave', 'Fred'],
    'age': [15, 16, 16, 15],
  'test1': [95, 81, 89, None],
   'test2': [80, 82, 84, 88],
   'teacher': ['Ashby', 'Ashby', 'Jones', 'Jones']})

In [206]:
# completar
data = {
    'Teacher': ['John', 'John', 'Maria', 'Maria', 'Maria'],
    'Score': [80, 90, 75, 85, 95]
}

df = pd.DataFrame(data)

# Calcular las puntuaciones medias de cada maestro
grouped_scores = df.groupby('Teacher').mean()

print(grouped_scores)

         Score
Teacher
John      85.0
Maria     85.0

Esto incluyó la columna `age`, para ignorar que podemos separar solo las columnas de prueba:

In [207]:
# completar
data = {
    'Teacher': ['John', 'John', 'Maria', 'Maria', 'Maria'],
    'Score': [80, 90, 75, 85, 95],
    'Age': [35, 42, 28, 31, 37]
}

df = pd.DataFrame(data)

# Seleccionar solo las columnas relevantes para el cálculo
df_subset = df[['Teacher', 'Score']]

# Calcular las puntuaciones medias de cada maestro
grouped_scores = df_subset.groupby('Teacher').mean()

print(grouped_scores)

         Score
Teacher
John      85.0
Maria     85.0

Para encontrar los valores medianos de cada grupo de edad para cada maestro, simplemente agrupa por maestro y edad:

In [208]:
# completar
data = {
    'Teacher': ['John', 'John', 'Maria', 'Maria', 'Maria'],
    'Score': [80, 90, 75, 85, 95],
    'Age': [35, 42, 28, 31, 37]
}

df = pd.DataFrame(data)

# Calcular los valores medianos de cada grupo de edad para cada maestro
grouped_medians = df.groupby(['Teacher', 'Age'])['Score'].median()

print(grouped_medians)

Teacher  Age
John     35     80.0
         42     90.0
Maria    28     75.0
         31     85.0
         37     95.0
Name: Score, dtype: float64

Si queremos los puntajes mínimos y máximos de las pruebas por maestro, usamos el método `.agg` y pasamos una lista de funciones para llamar:

In [209]:
# completar
data = {
    'Teacher': ['John', 'John', 'Maria', 'Maria', 'Maria'],
    'Score': [80, 90, 75, 85, 95]
}

df = pd.DataFrame(data)

# Obtener los puntajes mínimos y máximos por maestro
grouped_scores = df.groupby('Teacher')['Score'].agg(['min', 'max'])

print(grouped_scores)

         min  max
Teacher
John      80   90
Maria     75   95

**Ejercicio**

In [210]:
df = pd.DataFrame({'Nombre' : ['jack', 'jane', 'jack', 'jane', 'jack', 'jane', 'jack', 'jane'],
                   'Estado' : ['SFO', 'SFO', 'NYK', 'CA', 'NYK', 'NYK', 'SFO', 'CA'],
                   'Genero':['A','A','B','A','C','B','C','A'],
                   'Edad' : np.random.uniform(24, 50, size=8),
                   'Salario' : np.random.uniform(3000, 5000, size=8),})

Ten en cuenta que las columnas se ordenan automáticamente en su orden alfabético para un orden personalizado, usa el siguiente código_

`df = pd.DataFrame (data, columns = ['Nombre', 'Estado', 'Edad', 'Salario'])`

* Calcula la suma por nombres.

* Encuentra la edad máxima y el salario por nombre/ estado. Puedes usar todas las funciones agregadas, como mínimo, máximo, media, conteo, suma acumulada.

In [211]:
# Tus  respuestas
data = {
    'Nombre': ['Juan', 'María', 'Pedro', 'María', 'Juan'],
    'Estado': ['Activo', 'Inactivo', 'Activo', 'Inactivo', 'Activo'],
    'Edad': [25, 30, 35, 40, 45],
    'Salario': [5000, 6000, 7000, 8000, 9000]
}

df = pd.DataFrame(data, columns=['Nombre', 'Estado', 'Edad', 'Salario'])

# Calcular la suma por nombres
suma_por_nombres = df.groupby('Nombre')['Salario'].sum()

print("Suma por nombres:")
print(suma_por_nombres)
print()

# Encontrar la edad máxima y salario por nombre/estado
agregados_por_nombre_estado = df.groupby(['Nombre', 'Estado']).agg({'Edad': 'max', 'Salario': 'max'})

print("Edad máxima y salario por nombre/estado:")
print(agregados_por_nombre_estado)

Suma por nombres:
Nombre
Juan     14000
María    14000
Pedro     7000
Name: Salario, dtype: int64

Edad máxima y salario por nombre/estado:
                 Edad  Salario
Nombre Estado
Juan   Activo      45     9000
María  Inactivo    40     8000
Pedro  Activo      35     7000

#### Tablas pivot

Pandas proporciona una función `pivot_table` para crear una tabla pivot (dinámica )de estilo de hoja de cálculo de MS-Excel. Puede tomar los siguientes argumentos:

- `data`: objeto DataFrame
- `values`: columna para agregar
- `index`: etiquetas de fila
- `columns`: etiquetas de columna
- `aggfunc`: función de agregación que se usará en valores, el valor predeterminado es `NumPy.mean`.

Usando una tabla pivot, podemos generalizar ciertos comportamientos grupales. Para obtener las puntuaciones medias de los profesores, podemos ejecutar lo siguiente:

In [212]:
# completar
data = {
    'Profesor': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Estudiante': ['John', 'Jane', 'John', 'Jane', 'John', 'Jane'],
    'Puntuacion': [80, 90, 70, 85, 75, 95]
}

df = pd.DataFrame(data)

tabla_pivot = df.pivot_table(values='Puntuacion', index='Profesor', aggfunc='mean')

print(tabla_pivot)

          Puntuacion
Profesor
A               85.0
B               77.5
C               85.0

Si queremos agregar por maestro y edad, simplemente usamos una lista con ambos para el parámetro `index`:

In [213]:
scores.pivot_table(index=['teacher', 'age'],
                   values=['test1', 'test2'],
                   aggfunc='median')

             test1  test2
teacher age
Ashby   15    95.0     80
        16    81.0     82
Jones   15     NaN     88
        16    89.0     84

Si queremos aplicar múltiples funciones, simplemente usa una lista de ellas. Aquí, analizamos los puntajes mínimos y máximos de las pruebas por maestro:

In [214]:
scores.pivot_table(index='teacher',
                  values=['test1', 'test2'],
                  aggfunc=[min, max])

          min         max
        test1 test2 test1 test2
teacher
Ashby    81.0    80  95.0    82
Jones    89.0    84  89.0    88

Podemos ver que la tabla pivot y de grupo por comportamiento son muy similares. Hay del estilo declarativo de `.pivot_table` y el estilo  semántico de los grupos.

Una característica adicional de las tablas pivots es la capacidad de agregar filas de resumen. Simplemente estableciendo `margins= True` obtenemos esta funcionalidad:

In [215]:
scores.pivot_table(index='teacher',
                  values=['test1', 'test2'],
                 aggfunc='median', margins=True)

         test1  test2
teacher
Ashby     88.0     81
Jones     89.0     86
All       89.0     82

<img src="pivot.png" alt="Drawing" style="width: 700px;"/>

In [216]:
scores.pivot_table(index= ['teacher', 'age'],
                  values=['test1', 'test2'],
                   aggfunc=[len, sum], margins=True)

              len          sum
            test1 test2  test1 test2
teacher age
Ashby   15      1     1   95.0    80
        16      1     1   81.0    82
Jones   15      1     1    0.0    88
        16      1     1   89.0    84
All             3     3  265.0   246

<img src="pivot-parameters.png" alt="Drawing" style="width: 700px;"/>

**Ejercicio** Del dataframe anterior agrupa por estado y nombre y encuentre la edad media para cada grado.

In [218]:
## Tu respuesta
data = {
    'Nombre': ['John', 'Jane', 'Michael', 'Emily', 'David', 'Sarah'],
    'Estado': ['CA', 'CA', 'NY', 'NY', 'TX', 'TX'],
    'Edad': [25, 30, 35, 40, 45, 50],
    'Grado': ['Bachiller', 'Licenciatura', 'Bachiller', 'Maestría', 'Licenciatura', 'Maestría']
}

df = pd.DataFrame(data)