<a href="https://colab.research.google.com/github/XIOMARAMORE13/C8280/blob/main/Actividad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Mire en la parte superior e inferior de data.tsventregado en esta actividad. Piensa en cómo se estructuran los datos. ¿Qué crees que significa cada columna? ¿Qué crees que significa cada fila?

In [ ]:
import pandas as pd
url='https://raw.githubusercontent.com/XIOMARAMORE13/C8280/main/Actividad1/data.tsv'

In [ ]:
data = pd.read_table(url)
data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

PARTE SUPERIOR//PRIMERAS FILAS

In [20]:
print(data[:5])

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

PARTE INFERIOR//COLUMNAS

In [21]:
print(data.tail())

      order_id  quantity           item_name  \
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

Rspta: Las columnas en el DataFrame "data" representan diferentes variables o atributos medidos para cada individuo.Y las filas corresponde a un registro de datos para un individuo en particular.

**Con este código podremos saber cuantas columnas y filas tiene el data**

In [16]:
data.shape

(4622, 5)

In [17]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

¿Cuántos pedidos parece haber? El total de pedidos son 4972...

In [18]:
def quantity():
  return read_csv(name)['quantity'].sum()
  
quantity()

4972

¿cuantas lineas hay en este archivo? El total de líneas son 4622

In [19]:
def quantity_lines():
  return read_csv(name).shape[0]
  
quantity_lines()

4622

¿Qué burrito es más popular, steak o chicken?

In [23]:
#steak
steak_burrito = (data["item_name"] == "Steak Burrito").sum()
print("Steak Burrito:", steak_burrito)

Steak Burrito: 368